<div class="container my-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      <h2 class="mb-0">Agregar Transacción</h2>
    </div>
    <div class="card-body">
      <form class="formulario-personalizado" (ngSubmit)="agregarTransaccion()">
        <div class="form-group">
          <label for="usuarioId">Usuario:</label>
          <select class="form-control" id="usuarioId" [(ngModel)]="nuevaTransaccion.usuario_id" name="usuarioId" required>
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="producto">Producto:</label>
          <input type="text" class="form-control" id="producto" [(ngModel)]="nuevaTransaccion.producto" name="producto" required>
        </div>
        <div class="form-group">
          <label for="cantidad">Cantidad:</label>
          <input type="number" class="form-control" id="cantidad" [(ngModel)]="nuevaTransaccion.cantidad" name="cantidad" required>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha:</label>
          <input type="date" class="form-control" id="fecha" [(ngModel)]="nuevaTransaccion.fecha" name="fecha" required>
        </div>
        <button type="submit" class="btn btn-success">Agregar Transacción</button>
      </form>
    </div>
  </div>
</div>