<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Usuarios</h2>
  <button class="btn btn-primary mb-3" (click)="irAFormulario()">Agregar Usuario</button>
  <table class="table tabla-personalizada">
    <thead class="tabla-encabezado">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios" class="tabla-fila">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="editarUsuario(usuario.id)">
            <i class="fas fa-edit"></i> Editar
          </button>
          
          <button class="btn btn-danger btn-sm" (click)="deleteUsuario(usuario.id)">
            <i class="fas fa-trash-alt"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
